# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environments
venv/
.env/
*.env
hardware_service/.venv/
backend/.venv/

# ---------------------------
# OS files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# VSCode / IDE
# ---------------------------
.vscode/
.idea/

# ---------------------------
# Docker & Logs
# ---------------------------
*.log
db_data/
uploads/
docker-data/
docker-compose.override.yml

# ---------------------------
# Node (ในกรณีมี frontend)
# ---------------------------
node_modules/

# ---------------------------
# Temporary
# ---------------------------
*.tmp
*.temp
