# docker-compose.dev.yml
services:
  db:
    image: postgres:16-alpine
    container_name: scrapshop_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: Asia/Bangkok       
      PGTZ: Asia/Bangkok        
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: scrapshop_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - db

  backend:
    build: ./backend
    container_name: scrapshop_backend
    restart: unless-stopped
    env_file:
      - .env
    environment:
      HARDWARE_URL: http://host.docker.internal:9000  
      UPLOAD_ROOT: /app/uploads    
    depends_on:
      - db
    ports:
      - "${APP_PORT}:8000"
    volumes:
    - ./backend/app:/app/app
    - ./uploads:/app/uploads

volumes:
  db_data:
